<div class="container-fluid d-flex justify-content-center align-items-stretch" id="pages">
      <div class="row w-75" id="wordsListDiv">
            <div class="card-body col-12 border border-warning rounded bg-success h-25 m-auto">
                  <h5 class="card-title font-weight-light word" data-count="{{word.id}}" id={{word.id}}>{{word.word}}</h5>
                  <p class="card-text definition" data-count="{{word.id}}" id="definition">{{word.definition}}</p>
                  <button class="button btn-info btn-sm" id="add-to-my-words-button" >Like this Word</button>
            </div>
      </div>
</div>

<script src="/javascript/searchPage.js"></script>